<div class="chat-sidebar">

    <!-- HEADER -->

    <div class="sidebar-header">

        <h2>
            Chats
        </h2>

    </div>

    <!-- SEARCH -->

    <div class="search-container">

        <input type="text" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Search users...">

    </div>

    <div class="search-results">

        @for(user of searchedUsers; track user._id){

        <div class="search-user" (click)="startChat(user)">

            <img src="https://i.pravatar.cc/150">

            <span>

                {{ user.username }}

            </span>

        </div>

        }

    </div>


    <!-- CONVERSATIONS -->

    <div class="conversation-list">

        @for(
        conversation of conversations;
        track conversation._id
        ){

        <div class="conversation-item" [class.active]="selectedConversationId === conversation._id"
            (click)="selectChat(conversation)">

            <!-- AVATAR -->

            <div class="avatar-wrapper">

                <img src="https://i.pravatar.cc/150" alt="avatar">

                @if(isOnline(conversation)){

                <div class="online-dot"></div>

                }

            </div>

            <!-- INFO -->

            <div class="conversation-info">

                <div class="top-row">

                    <h4>

                        {{
                        getOtherUser(conversation)?.username
                        || 'User'
                        }}

                    </h4>

                    <span class="time">

                        {{
                        conversation?.lastMessage?.createdAt
                        | date:'shortTime'
                        }}

                    </span>

                </div>

                <div class="bottom-row">

                    <p>

                        {{
                        conversation?.lastMessage?.text
                        || 'No messages yet'
                        }}

                    </p>

                    @if(unreadCounts[conversation._id]){

                    <div class="unread-count">

                        {{
                        unreadCounts[conversation._id]
                        }}

                    </div>

                    }

                </div>

            </div>

        </div>

        }

    </div>

</div>