<div class="sidebar">

  <!-- PROFILE -->
  <div class="sidebar-top">

    <div class="profile">
      <img src="https://i.pravatar.cc/150" />
    </div>

  </div>

  <!-- MENU -->
  <div class="menus">

    @for (menu of menus; track menu.label) {

      <div class="menu-item"
           (click)="navigate(menu.route)">

        <mat-icon>{{ menu.icon }}</mat-icon>

        <span>{{ menu.label }}</span>

      </div>

    }

    <!-- LOGOUT -->
    <div class="menu-item logout"
         (click)="logout()">

      <mat-icon>logout</mat-icon>
      <span>Logout</span>

    </div>

  </div>

</div>