<div class="chat-window">

  @if(conversation){
  <div class="chat-area">
    <!-- HEADER -->

    <app-chat-header [conversation]="conversation" [currentUserId]="currentUserId" [typingUser]="typingUser"
      (audioCall)="startAudioCall()" (videoCall)="startVideoCall()" (groupInfo)="openGroupDetails()"
      (addMembers)="openAddMembers()" (media)="openMedia()" (exitGroup)="exitGroup()" (viewProfile)="openUserProfile()"
      (searchMessages)="searchQuery = $event" [isBlocked]="isBlocked" [isMuted]="isMuted"
      (toggleBlock)="toggleBlockUser()" (toggleMute)="toggleMuteConversation()">
    </app-chat-header>

    <!-- MESSAGES -->

    <div class="messages" #scrollContainer>
      @for(

      message of messages;

      track trackMessage(
      i,
      message
      );

      let i = $index

      ){

      @if(message){

      <!-- DATE SEPARATOR -->

      @if(

      i === 0

      ||

      (

      (
      messages[i - 1]?.createdAt
      | date:'dd/MM/yyyy'
      )

      !==

      (
      message?.createdAt
      | date:'dd/MM/yyyy'
      )

      )

      ){

      <div class="date-separator">

        <span>

          {{

          (
          message?.createdAt
          | date:'dd/MM/yyyy'
          ) === todayDate

          ? 'Today'

          :

          (

          (
          message?.createdAt
          | date:'dd/MM/yyyy'
          ) === yesterdayDate

          )

          ? 'Yesterday'

          :

          (
          message?.createdAt
          | date:'mediumDate'
          )

          }}

        </span>

      </div>

      }

      <!-- MESSAGE -->

      <div class="message-wrapper" [class.mine]="isMine(message)">

        <div class="message-bubble">

          <!-- GROUP USER -->

          @if(

          conversation.isGroup
          &&
          !isMine(message)

          ){

          <span class="sender-name">

            {{
            message?.sender?.username
            }}

          </span>

          }

          <!-- TEXT -->

          @if(message?.text){

          <p class="message-text" [innerHTML]="getHighlightedText(message.text)">
          </p>

          }

          <!-- MEDIA -->

          @if(message?.mediaUrls?.length){

          <div class="media-container">

            @for(

            media of message.mediaUrls;

            track trackMedia(
            j,
            media
            );

            let j = $index

            ){

            @if(media){

            <!-- IMAGE -->

            @if(
            media?.fileType?.startsWith('image/')
            ){

            <div class="image-wrapper">

              <img [src]="media?.fileUrl" class="chat-image" [class.uploading-image]="media?.uploading"
                (click)="openFile(media?.fileUrl)">

              @if(media?.uploading){

              <div class="upload-overlay">

                <div class="loader"></div>

                <span>
                  Uploading...
                </span>

              </div>

              }

              <a [href]="getDownloadApi(message._id,j)" [attr.download]="media.fileName" class="download-btn">

                ⬇

              </a>

            </div>

            }

            <!-- VIDEO -->

            @if(
            media?.fileType?.startsWith('video/')
            ){

            <div class="video-wrapper">

              <video controls class="chat-video">

                <source [src]="media?.fileUrl" [type]="media?.fileType">

              </video>

              @if(media?.uploading){

              <div class="upload-overlay">
                <div class="loader"></div>
                <span>Uploading video...</span>
              </div>

              }

            </div>

            }

            <!-- AUDIO -->

          @if(media?.fileType?.startsWith('audio/')){

  <div class="audio-wrapper">

    <audio controls>
      <source
        [src]="media?.fileUrl"
        [type]="media?.fileType">
    </audio>

    @if(media?.uploading){

      <div class="audio-uploading">
        <div class="loader small-loader"></div>
        <span>Uploading audio...</span>
      </div>

    }

  </div>

}
          

            <!-- PDF -->

            @if(
            media?.fileType === 'application/pdf'
            ){

            <div class="file-actions">

              <a [href]="media?.fileUrl" target="_blank" class="file-link">

                <div class="file-icon">

                  📄

                </div>

                <div class="file-details">

                  <span class="file-title">

                    {{
                    media?.fileName
                    || 'PDF'
                    }}

                  </span>

                  <span class="file-subtitle">

                    Open PDF

                  </span>

                </div>

              </a>

              <a [href]="getDownloadApi(message._id,j)" [attr.download]="media.fileName" class="download-file-btn">

                ⬇

              </a>

            </div>

            }

            <!-- OTHER FILE -->

            @if(

            !media?.fileType?.startsWith('image/')
            &&
            !media?.fileType?.startsWith('video/')
            &&
            !media?.fileType?.startsWith('audio/')
            &&
            media?.fileType !== 'application/pdf'

            ){

            <div class="file-actions">

              <a [href]="getDownloadApi(message._id,j)" [attr.download]="media.fileName" class="file-link">

                <div class="file-icon">

                  📎

                </div>

                <div class="file-details">

                  <span class="file-title">

                    {{
                    media?.fileName
                    || 'Document'
                    }}

                  </span>

                  <span class="file-subtitle">

                    {{
                    formatBytes(media?.bytes)
                    }}

                  </span>

                </div>

              </a>

              <a [href]="getDownloadApi(message._id,j)" [attr.download]="media.fileName" class="download-file-btn">

                ⬇

              </a>

            </div>

            }

            }

            }

          </div>

          }

          <!-- FOOTER -->

          <div class="message-footer">

            <span class="time">

              {{
              message?.createdAt
              | date:'shortTime'
              }}

            </span>

            @if(message?.status === 'uploading'){

            <span class="uploading-status">
              ⏳ Uploading...
            </span>

            }

            @if(message?.status === 'failed'){

            <span class="failed-status">
              ❌ Failed
            </span>

            }


            @if(isMine(message)){

            @if(message?.status === 'sent'){

            <span class="single-tick">
              ✓
            </span>

            }

            @if(message?.status === 'delivered'){

            <span class="double-tick">
              ✓✓
            </span>

            }

            @if(message?.status === 'seen'){

            <span class="seen-tick">
              ✓✓
            </span>

            }

            }



          </div>

        </div>

      </div>

      }

      }

    </div>



    <!-- INPUT -->

    <app-message-input [conversationId]="conversation?._id" [userId]="currentUserId" (typing)="onTyping($event)"
      (send)="sendMessage.emit($event)">
    </app-message-input>

  </div>

  <!-- PROFILE SIDEBAR -->
  <app-profile-sidebar [isOpen]="isProfileOpen" [user]="selectedConversationOtherUser" (close)="closeProfile()"
    [isBlocked]="isBlocked" [isMuted]="isMuted" (toggleBlock)="toggleBlockUser()"
    (toggleMute)="toggleMuteConversation()">
  </app-profile-sidebar>

  <app-mediadetails-sidebar [isOpenMediaFiles]="isMediaOpen" [mediaFiles]="mediaFiles" (close)="isMediaOpen=false">

  </app-mediadetails-sidebar>

  } @else {

  <div class="empty-chat">

    <img src="https://cdn-icons-png.flaticon.com/512/1041/1041916.png">

    <h2>

      Welcome to Chat

    </h2>

    <p>

      Select conversation to start messaging

    </p>

  </div>

  }

</div>