:host {
  display: block;
  height: 100%;
}

.image-panel {
  height: 100%;

  display: flex;
  flex-direction: column;

  background: #f5f7fb;
}

.panel-header {
  height: 64px;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 18px;

  background: white;

  border-bottom: 1px solid #e5e7eb;
}

.image-preview {
  margin: 40px auto;

  width: 180px;
  height: 180px;

  border-radius: 50%;

  overflow: hidden;

  background: white;

  box-shadow:
    0 4px 20px rgba(0,0,0,.08);
}

.image-preview img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.upload-btn {
  width: 220px;
  height: 48px;

  margin: 0 auto;

  border: none;

  border-radius: 12px;

  background: #128c7e;
  color: white;

  cursor: pointer;
}


@media (max-width: 768px) {

  .panel-header {
    padding: 0 14px;
  }

  .panel-title {
    font-size: 16px;
  }

  .member-card,
  .user-card {
    padding: 10px;
  }

  .action-btn {
    padding: 6px 10px;
    font-size: 12px;
  }

  .image-preview {
    width: 140px;
    height: 140px;
  }

  .upload-btn {
    width: calc(100% - 30px);
  }

}