<div class="profile-card">

  <div class="avatar-wrapper">

    <app-avatar
      [imageUrl]="group?.groupImage"
      [isGroup]="true"
      [size]="120">
    </app-avatar>

    @if(canEdit){

      <button
        class="edit-avatar-btn"
        (click)="editImage.emit()">

        ✏️

      </button>

    }

  </div>

  <h2 class="group-name">

    {{group?.groupName}}

  </h2>

  <div class="member-count">

    {{totalMembers}} Members

  </div>

  <div class="description-card">

    <div class="description-header">

      <span>Group Description</span>

      @if(canEdit){

      <button
        class="edit-description-btn"
        (click)="editDescription.emit()">

        ✏️

      </button>

      }

    </div>

    <div
      class="description-text"
      (click)="canEdit ? editDescription.emit() : null">

      {{
        group?.groupDescription
        || 'Click to add group description'
      }}

    </div>

  </div>

</div>