<div class="profile-card">

  <div class="avatar-wrapper">

    <app-avatar
      [imageUrl]="group?.groupImage"
      [isGroup]="true"
      [size]="110">
    </app-avatar>

    @if(canEdit){

    <button
      class="edit-btn"
      (click)="editImage.emit()">

      📷

    </button>

    <button
      class="add-btn"
      (click)="addMembers.emit()">

      ➕

    </button>

    }

  </div>

  <h2>
    {{group?.groupName}}
  </h2>

  <div class="members">

    {{totalMembers}} Members

  </div>

  <div class="description">

    <span>
      {{
        group?.groupDescription
        || 'No description'
      }}
    </span>

    @if(canEdit){

    <button
      (click)="editDescription.emit()">
      ✏️
    </button>

    }

  </div>

</div>