.message-input-container{

    display:flex;

    align-items:center;

    gap:10px;

    padding:10px 15px;

    background:#f0f2f5;
}

.message-input-container input{

    flex:1;

    border:none;

    outline:none;

    padding:12px 15px;

    border-radius:25px;

    background:white;

    font-size:14px;
}

.icon-btn,
.send-btn{

    width:40px;

    height:40px;

    border:none;

    border-radius:50%;

    background:transparent;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;
}

.icon-btn mat-icon{

    color:#54656f;
}

.send-btn{

    background:#00a884;
}

.send-btn mat-icon{

    color:white;
}

.selected-file{

    padding:6px 15px;

    background:#fff;

    border-top:1px solid #ddd;

    font-size:13px;

    color:#555;
}

.file-preview-container{

  display: flex;

  flex-wrap: wrap;

  gap: 8px;

  padding: 8px 12px;

  background: #f0f2f5;

  border-top: 1px solid #d1d7db;
}

.file-chip{

  display: flex;

  align-items: center;

  gap: 8px;

  background: white;

  border-radius: 18px;

  padding: 6px 10px;

  max-width: 220px;

  box-shadow: 0 1px 2px rgba(0,0,0,0.08);

  .file-name{

    font-size: 13px;

    color: #111b21;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    max-width: 140px;
  }

  .preview-image{

  width: 40px;

  height: 40px;

  border-radius: 8px;

  object-fit: cover;

  border: 1px solid #ddd;
}

  mat-icon{

    font-size: 18px;

    width: 18px;

    height: 18px;

    color: #00a884;
  }

  .remove-btn{

    border: none;

    background: transparent;

    cursor: pointer;

    font-size: 14px;

    color: #667781;

    padding: 0;
  }
}