/* FULL SCREEN OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: flex-end;
  z-index: 2000;
}

/* DRAWER */
.drawer {
  width: 420px;
  height: 100vh;
  background: #f5f7fb;

  display: flex;
  flex-direction: column;

  animation: slideIn 0.25s ease forwards;

  box-shadow: -10px 0 25px rgba(0,0,0,0.2);
  overflow: hidden;
}

/* ANIMATION */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* MENU */
.menu-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.menu-item {
  background: white;
  min-height: 56px;
  border-radius: 14px;
  padding: 0 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

/* BUTTON */
.leave-btn {
  margin: auto 12px 12px;
  height: 52px;
  border: none;
  border-radius: 14px;
  background: #ffebee;
  color: #d32f2f;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .drawer {
    width: 100%;
  }
}

.drawer.closing {
  animation: slideOut 0.2s ease forwards;
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}