<div class="chat-layout">

    <!-- LEFT ICON SIDEBAR -->
    <app-sidebar class="sidebar"></app-sidebar>

    <!-- CHAT LIST -->
    <app-chat-sidebar
        [conversations]="conversations"
        (openChat)="onChatSelected($event)">
    </app-chat-sidebar>

    <!-- RIGHT CHAT AREA -->
    <div class="chat-area">

        <!-- CHAT WINDOW -->
        <app-chat-window
            [conversation]="selectedConversation"
            [messages]="messages"
            [currentUserId]="currentUser?._id">
        </app-chat-window>

        <!-- MESSAGE INPUT -->
        @if(selectedConversation){

        <app-message-input
            [conversationId]="selectedConversation._id"
            [userId]="currentUser?._id"
            (send)="sendMessage($event)">
        </app-message-input>

        }

    </div>

</div>