<div class="chat-layout">

    <!-- LEFT SIDEBAR -->

    <app-sidebar class="sidebar">
    </app-sidebar>


    <!-- CHAT LIST -->

    <app-chat-sidebar class="chat-sidebar" 
    [conversations]="conversations"
     [onlineUsers]="onlineUsers"
        [currentUserId]="currentUser._id"
         [unreadCounts]="unreadCounts" 
         (openChat)="onChatSelected($event)">
    </app-chat-sidebar>


    <!-- CHAT WINDOW -->

    <app-chat-window class="chat-window"
     [conversation]="selectedConversation" [messages]="messages"
        [currentUserId]="currentUser?._id || ''" 
        (sendMessage)="sendMessage($event)">
    </app-chat-window>

</div>